@font-face {
  font-family: "Hylia Serif Beta Regular";
  src: url("/Users/nicksturz/Desktop/HyliaSerifBeta-Regular.otf ");
}

a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.add-to-compendium-button {
  background-color: #2b8091;
  color: white;
  border: none;
  border-radius: 5px;
  width: 175px;
  height: 50px;
}

#back-to-search-button {
  width: 175px;
  height: 40px;
  font-size: 20px;
  background-color: #2b8091;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1%;
}

body {
  font-family: HyliaSerifBeta-Regular, serif;
  background-color: #d9d9d9;
}

button {
  font-family: HyliaSerifBeta-Regular, serif;
}

button:hover {
  cursor: pointer;
}

#description-text,
#notes-text {
  padding-left: 20%;
  padding-right: 20%;
}

footer {
  width: 100%;
  background-color: #2b8091;
  color: white;
  margin-top: 5%;
}

/* you may need a media query to adjust the width of this for mobile 👇🏼 8/3/22 */
form {
  width: 50%;
}

.form-wrapper,
.no-results-wrapper {
  margin-top: 15%;
}

h1 {
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

h2 {
  font-size: 90px;
  padding-bottom: 0%;
}

h3 {
  font-size: 30px;
}

header {
  background-color: #2b8091;
  color: white;
}

.hidden {
  display: none;
}

/* you may need a media query to djust the width of this for mobile 👇🏼 8/3/22 */
input {
  width: 350px;
  height: 70px;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  font-size: 15px;
}

.justify-center {
  justify-content: center;
}

.my-compendium-button {
  background-color: #bd7dab;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: white;
  width: 175px;
  height: 50px;
  margin-top: 2%;
}

.no-results {
  font-size: 20px;
}

.or-go-to {
  margin-top: 3%;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.result-image {
  width: 70%;
}

.search-result-details {
  padding-top: 5%;
}

select {
  width: 15%;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.select-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}

.submit-button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #2b8091;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1%;
}

.text-align-center {
  text-align: center;
}

.triforce-image-1 {
  width: 2rem;
  height: 2rem;
  margin-top: 1.7rem;
  margin-right: 1rem;
}

.triforce-image-2 {
  width: 2rem;
  height: 2rem;
  margin-top: 1.7rem;
  margin-left: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  a {
    font-size: 30px;
  }

  form {
    margin-top: 30%;
  }

  h1 {
    width: 250px;
  }

  #description-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .result-image {
    width: 100%;
  }

  select {
    width: 20%;
  }
}
