a:hover {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.add-to-compendium-button {
  background-color: #2b8091;
  color: white;
  border: none;
  border-radius: 5px;
  width: 175px;
  height: 50px;
}

.back-to-search-button {
  width: 175px;
  height: 40px;
  font-size: 1.2rem;
  background-color: #2b8091;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1%;
}

.back-to-search-button-footer {
  font-size: 3rem;
  background-color: #2b8091;
  border: none;
  border-radius: 5px;
  color: white;
}

.back-to-search-button-footer:hover {
  color: #dfd1ad;
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #d9d9d9;
}

button:hover {
  cursor: pointer;
}

.cancel-button {
  background-color: #dc2627;
  color: white;
  margin: 0.5rem;
  border-style: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

.confirm-button {
  background-color: #2a8091;
  color: white;
  margin: 0.5rem;
  border-style: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

.delete-entry-button {
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  background-color: #dc2627;
  color: white;
  margin: 0.5rem;
  width: 175px;
  height: 50px;
}

.delete-modal-wrapper {
  border: 1px solid black;
  width: 30%;
  top: 40%;
  left: 35%;
  background-color: white;
  border-radius: 10px;
}

.description-text,
.notes-text {
  padding-left: 20%;
  padding-right: 20%;
}

.edit-note-button {
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  background-color: #2a8091;
  color: white;
  margin: 0.5rem;
}

.edit-modal-wrapper {
  background-color: white;
  width: 30%;
  top: 35%;
  left: 35%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.entry-image {
  width: 80%;
}

.entry-title {
  font-size: 2rem;
}

footer {
  width: 100%;
  background-color: #2b8091;
  color: white;
  margin-top: 5%;
}

.form-wrapper,
.no-results-wrapper {
  margin-top: 10%;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 5rem;
  padding-bottom: 0%;
}

h3 {
  font-size: 2rem;
}

header {
  background-color: #2b8091;
  color: white;
}

.hylia-font {
  font-family: "Hylia Serif", sans-serif;
}

@font-face {
  font-family: "Hylia Serif";
  src: url("../fonts/HyliaSerifBeta-Regular.otf ");
}

@font-face {
  font-family: Triforce, serif;
  src: url("../fonts/Triforce.ttf");
}

input {
  width: 350px;
  height: 70px;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  font-size: 1rem;
}

.justify-center {
  justify-content: center;
}

li {
  list-style: none;
}

.main-title {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.main-title:hover {
  color: #dfd1ad;
  transition: all 0.2s ease-in-out;
}

.modal-buttons {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.my-compendium-button {
  background-color: #bd7dab;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: white;
  width: 175px;
  height: 50px;
  margin-top: 2%;
}

.no-results {
  font-size: 1.5rem;
}

.or-go-to {
  margin-top: 3%;
}

.overlay {
  background: black;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

.relative {
  position: relative;
}

.result-image {
  width: 70%;
}

.search-form {
  width: 50%;
}

.search-result-details {
  padding-top: 5%;
}

select {
  width: 15%;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.select-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}

.submit-button {
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  background-color: #2b8091;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1%;
}

.text-align-center {
  text-align: center;
}

.triforce-image-1 {
  width: 2rem;
  height: 2rem;
  margin-top: 1.7rem;
  margin-right: 1rem;
}

.triforce-image-2 {
  width: 2rem;
  height: 2rem;
  margin-top: 1.7rem;
  margin-left: 1rem;
}

ul {
  margin: auto;
  margin-top: 1rem;
  padding: 0%;
  height: 100%;
}

.wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  h1 {
    width: 250px;
  }

  .confirm-button {
    font-size: 1.5rem;
  }

  .cancel-button {
    font-size: 1.5rem;
  }

  .description-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .edit-modal-wrapper,
  .delete-modal-wrapper {
    position: fixed;
    width: 270px;
    left: 18%;
  }

  .result-image {
    width: 100%;
  }

  select {
    width: 20%;
  }

  .search-form {
    margin-top: 30%;
  }

  .triforce-image-1 {
    width: 2rem;
    height: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .triforce-image-2 {
    width: 2rem;
    height: 2rem;
    margin-top: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .column-one-third {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
  .column-one-third {
    flex-basis: 100%;
  }
}

.hidden {
  display: none;
}
